<%= form_for(@datastream) do |f| %>
  <% if @datastream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@datastream.errors.count, "error") %> prohibited this datastream from being saved:</h2>

      <ul>
      <% @datastream.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
